In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Startups_Expense.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [6]:
df1=pd.get_dummies(df['State'],drop_first=True)

In [9]:
df=pd.concat([df1,df],axis=1)

In [10]:
df.drop('State',axis=1,inplace=True)

In [12]:
df.head()

   Florida  New York  R&D Spend  Administration  Marketing Spend     Profit
0        0         1  165349.20       136897.80        471784.10  192261.83
1        0         0  162597.70       151377.59        443898.53  191792.06
2        1         0  153441.51       101145.55        407934.54  191050.39
3        0         1  144372.41       118671.85        383199.62  182901.99
4        1         0  142107.34        91391.77        366168.42  166187.94

In [13]:
X=df.iloc[:,:-1]
y=df.iloc[:,[5]]

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [15]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [16]:
y_pred=regression.predict(X_test)

In [17]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [18]:
score

0.9304662963933659